@page "/workload"

<Filter @bind-Query="Query"></Filter>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 mb-4">
            <RadzenCard class="rz-background-color-primary rz-p-8">
                <strong class="rz-color-white">@Query</strong>
            </RadzenCard>
        </div>
    </div>
</div>